@import "./_color_scheme.scss";

$article-card-text-color: map-get($theme-colors, "secondary-dark");
$article-card-text-color--hover: map-get($theme-colors, "primary");
$article-card-title-color: map-get($theme-colors, "dark");

.dynamic-block {
  .article-block-row {
    display: grid;
    gap: calc(var(--bs-gutter-x) * .5);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.article-block-row {
  display: flex;
  align-items: stretch;
  gap: calc(var(--bs-gutter-x)* .5);
  .article-item {
    flex: 1;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    .card {
      height: 100%;
      border: none;
      .card-body {
        padding: 20px;
        .card-title {
          font-size: 18px;
          margin-bottom: 5px;
          font-weight: 600;
          a {
            color: $article-card-title-color;
            &:hover {
              color: $article-card-text-color--hover;
            }
          }
        }
        .article-categories {
          a:hover {
            text-decoration: underline;
          }
        }
        .card-text {
          margin-top: 10px;
          color: $article-card-text-color;
        }
        ul li i {
          margin-right: 12px;
        }
      }
    }

    .thumb-content {
      position: relative;
      height: 250px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    &.single-article-item {
      .thumb-content {
        height: 350px;
      }
    }
  }
}

@media (max-width: 992px) {
  .article-block-row {
    display: block;
    .article-item {
      flex: none;
      .card {
        height: auto;
      }
      .thumb-content {
        height: 300px;
      }
    }
  }
}
